body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #D4D4D4;

    background-color: #d4d4d4;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

}

.container {
    margin-top: 0;
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 20px;
}


a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
}

li {
    list-style: none;
}

h1 {
    margin-bottom: 0;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

.flex {
    display: flex;
    align-items: center;
}

/* NAVBAR */
navbar {
    font-family: 'EB Garamond', serif;
}

.icon-image {
    position: relative;
    top: 5px;
}

.navbar {
    max-width: 1800px;
    position: relative;
    right: 20px;
}

.main-nav {
    justify-content: space-between;
    text-align: center;
}

.links ul {
    justify-content: start;
    gap: 30px;
}

.links {
    /* justify-content: start; */
}

.button {
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 5px;
    /* background-color: aqua; */
}

.button2 {
    background-color: #efa239;

}

.button:hover {
    background-color: #afc3ff;
    position: relative;
    bottom: 2px;
    transition: 0.3s ease-in;
}

/* .button2:hover {
    background-color: yellow;

} */

/* Main-head */
.main-head {
    padding-top: 100px;
    padding-bottom: 60px;
}

/* .underlined {
    position: relative;
} */

.main-head-p {
    margin-bottom: 40px;
}

.main-head-img {
    width: 600px;
}
